@import '../../../../core/sass/variables';

.side-navbar {
  width: 100%;
  height: 100vh;

  .side-nav {
    width: 25rem;
    height: 100%;
    background-color: $blue;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem 3rem;
    .logo {
      display: block;
      margin-bottom: 13rem;
    }

    .nav-links {
      list-style: none;
      position: relative;
      & li {
        padding: 1rem 0;
        &:hover {
          .nav-item {
            color: $white;
          }
        }
        .nav-item {
          color: rgba($dark-grey, 0.3);
          padding: 1rem 1.4rem;
          display: flex;
          align-items: center;

          &__icon {
            width: 2rem;
            margin-left: 2rem;
            fill: $white;
          }
        }
      }
      &__active {
        background-color: $primary;
        width: 100%;
        height: 4.7rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        border-radius: $border-radius;
      }
    }
  }
}
